@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
}

.theme.dark {
    background-color: rgb(15, 23, 42);
    color: rgb(226 232 240);
}
.theme.light {
    background-color: #fff;
    color: rgb(51 65 85);
}